.*.swp
*~
*.pid
*.xcdatamodeld
.rvmrc
.rvmrc*
db/*.sqlite3
db/import
log/*.log
tmp/**/*
config/database.yml
public/stylesheets/*.css
public/repo
.DS_Store
.bundle
vendor/bundler
db/import
doc/*.png
logfile
./log
log/
./solr
public/system
public/salsa
wopad-*.tar.gz
public/images/mockups
lib/tasks/import.rake
.sass-cache
./sandbox
*.sublime-project
*.sublime-workspace
